.submenu {
    position: absolute;
    left: 0;
    padding: 0;
    list-style: none;
    height: 1px; 
    width: 1px;
    overflow: hidden;
    clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
    clip: rect(1px, 1px, 1px, 1px);
  }
  
  /* using visually-hidden styling is important for accessibility. source: https://a11yproject.com/posts/how-to-hide-content/ */

  .menu__item:hover .submenu {
    padding: 0.5rem 0;
    width: 9rem;
    height: auto;
    background: #eedbff;
    clip: auto;
  }